<div class="container jumbotron categories" style="padding-top: 20px;">
    <div class="row">
        {{#each data}}
        <div class="col-12 card" style="margin-top: 10px; padding-top: 5px;">
            <h5 class="card-body">{{this.category_name}}</h5>
        </div>
        {{/each}}
    </div>
</div>

<style>
    .categories {
        text-align: center;
    }
</style>