<div class="container home">
    <div class="row">
        {{#each data}}
        <div class="col-sm-12 col-md-6 col-lg-4 name">
            {{this.name}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 price">
            {{this.price}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 pic">
            {{this.pic}}
        </div>
        {{/each}}
    </div>
</div>


<style>
    .profileImage:hover {
        transition: all 0.4s ease-in-out;
        box-shadow: 0 5px 10px rgba(76, 102, 119);
    }
</style>