<div class="container home">
    <div class="row">
        {{#each data}}
        <div class="col-sm-12 col-md-6 col-lg-4 name">
            {{this.name}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 price">
            {{this.price}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 pic">
            {{this.pic}}
        </div>
        {{/each}}
    </div>
</div>


